@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LoL Client Tool</h1>

    <p>Choose a tool below.</p>

    <a asp-controller="ProfileIcon"
       asp-action="Index"
       class="btn btn-primary">
        Open Profile Icon Changer
    </a>

    <a asp-controller="ProfileBackground"
       asp-action="Index"
       class="btn btn-secondary">
        Open Profile Background Changer
    </a>

</div>

